<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />

  <link rel="stylesheet" href="style.css" />
  <title>Admin</title>
</head>

<body ng-app="QLAC">
  <!-- top navigation bar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar"
        aria-controls="offcanvasExample">
        <span class="navbar-toggler-icon" data-bs-target="#sidebar"></span>
      </button>
      <a class="navbar-brand me-auto ms-lg-0 ms-3 text-uppercase fw-bold" href="#">Admin</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavBar"
        aria-controls="topNavBar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="topNavBar">
        <form class="d-flex ms-auto my-3 my-lg-0">
          <div class="input-group">
          </div>
        </form>
      </div>
    </div>
  </nav>
  <!-- top navigation bar -->
  <!-- offcanvas -->
  <div class="offcanvas offcanvas-start sidebar-nav bg-dark" tabindex="-1" id="sidebar">
    <div class="offcanvas-body p-0">
      <nav class="navbar-dark">
        <ul class="navbar-nav">
          <li>
            <div class="text-muted small fw-bold text-uppercase px-3">
              CORE
            </div>
          </li>
          <li class="my-4">
            <hr class="dropdown-divider bg-light" />
          </li>
          <li>
            <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
              Quản lý
            </div>
          </li>
          <li>
          </li>
          <li>
            <a href="#" class="nav-link px-3">
              <span class="me-2"><i class="bi bi-book-fill"></i></span>
              <span>Tài khoản User</span>
            </a>
          </li>
          <li>
            <a href="#" class="nav-link px-3">
              <span class="me-2"><i class="bi bi-book-fill"></i></span>
              <span>Pages</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- offcanvas -->
  <main class="mt-5 pt-3" ng-controller="myFunc">
    <div class="container-fluid">
      <div class="alert {{isSuccess == true ? 'alert-success' : 'alert-danger'}}" ng-show="message.length != 0">
        {{message}}
      </div>

      <form ng-submit="onAddAccount($event)" action="" class="col-8 offset-2">
        <div class="form-group mt-3">
          <label for="">Name</label>
          <input class="form-control" type="text" ng-model="account.name">
        </div>
        <div class="form-group mt-3">
          <label for="">Email</label>
          <input class="form-control" type="email" ng-model="account.email">
        </div>

        <div class="form-group mt-3">
          <label for="">Birthday</label>
          <input class="form-control" type="date" ng-model="account.birthday">
        </div>
        <div class="form-group mt-3">
          <label for="">Password</label>
          <input class="form-control" type="password" ng-model="account.password">
        </div>
        <div class="form-group mt-3">
          <button class="btn btn-primary">Lưu</button>

        </div>
      </form>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12 mb-3">
        <div class="card">
          <div class="card-header">
            <span><i class="bi bi-table me-2"></i></span> Data Table
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table id="example" class="table table-striped data-table" style="width: 100%">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Birthday</th>
                    <th>Password</th>
                    <th colspan="2">Thao tác</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="ac in accounts">
                    <td>{{ ac.id }}</td>
                    <td>{{ ac.name }}</td>
                    <td>{{ ac.email }}</td>
                    <td>{{ ac.birthday||date("yyyy/dd/MM") }}</td>
                    <td>{{ac.password}}</td>
                    <td>
                      <button class="btn btn-primary" ng-click="onUpdateAccount($index)">Sửa</button>
                    </td>
                    <td>
                      <button class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#modal_delete_{{ac.id}}">Xóa</button>

                      <div class="modal fade" id="modal_delete_{{ac.id}}" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Xóa</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              Xác nhận xóa?
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                              <button type="button" ng-click="onDeleteAccount(ac.id)"
                                class="btn btn-danger">Xóa</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    var app = angular.module("QLAC", []);
    app.controller("myFunc", function ($scope, $http) {
        // Khởi tạo
        $scope.accounts = [];
        $scope.account = {
            id: '',
            name: '',
            email: '',
            birthday: '',
            password: ''
        };
        $scope.isSuccess = true;
        $scope.message = "";
        $scope.index=-1;

        const api = 'https://620f09caec8b2ee283319ac1.mockapi.io/api/PH17124/Hung';
        // gửi 1 request dạng GET lên API server
        $http.get(api).then(function (res) {
                $scope.accounts = res.data;
                console.log(res);
            })
            .catch(function (err) {
                console.log(err);
            });
        // create function add account with api server
        $scope.onAddAccount = function (e) {
            event.preventDefault();
            $http.post(api, $scope.account).then(function (res) {
                    $scope.accounts.push(res.data);
                    $scope.isSuccess = true;
                    $scope.message = "Thêm thành công";
                })
                .catch(function (err) {
                    $scope.isSuccess = false;
                    $scope.message = "Thêm thất bại";
                });
        };
        
        // create function update account with api server and date formatter
        $scope.onUpdateAccount = function (index) {
            $scope.account = $scope.accounts[index];
            $scope.account.birthday = new Date($scope.account.birthday).toISOString().substr(0, 10);
            $scope.index = index;
            $http.put(api + '/' + $scope.account.id, $scope.account).then(function (res) {
                    $scope.isSuccess = true;
                    $scope.message = "Cập nhật thành công";
                })
                .catch(function (err) {
                    $scope.isSuccess = false;
                    $scope.message = "Cập nhật thất bại";
                });
        };
        
        // create function delete account with http API
        $scope.onDeleteAccount = function (id) {
            $http.delete(api + '/' + id).then(function (res) {

                    $scope.message = "Xóa thành công";
                    $scope.isSuccess = true;
                    // remove account from array
                    $scope.accounts.splice($scope.index, 1);
                   
                    $('#modal_delete_'+id).modal('hide');
                })
                .catch(function (err) {
                    console.log(err);
                    $scope.message = "Xóa thất bại";
                    $scope.isSuccess = false;
                });
        };


    });
</script>
</body>

</html>