<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="shortcut icon" type="image/jpg"
    href="https://www.designzillas.com/sites/default/files/2019-07/zilla-head-1.png" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="./login.css">
  <link rel="stylesheet" href="./responsive.css">
</head>

<body ng-app="myApp">
  <div class="container"  ng-controller="myCtrl1">
    <div class="primary-bg">

      <div class="box signin">
        <h2>Already Have an Account?</h2>
        <button class="signinBtn">Sign in</button>
      </div>

      <div class="box signup">
        <h2>Don't Have an Account?</h2>
        <button class="signupBtn">Sign up</button>
      </div>
    </div>
    <div class="formBx">
      <div class="form signinForm">
        <form ng-submit="onSubmitForm($event)" action="" name="form_signIn">
          <h3>Sign In</h3>
          <div class="form-group">
            <input name="email1" ng-model="email1" id="user-name" type="email" placeholder="Email" required>
            <span ng-hide="form_signIn.email1.$valid || form_signIn.email1.$untouched"
              class="form-message text-danger">Email invalid</span>
          </div>
          <div class="form-group">
            <input name="pass1" ng-model="pass1" id="user-password" type="password" placeholder="Password" required>
            <span class="form-message text-danger"
              ng-hide="form_signIn.pass1.$valid || form_signIn.pass1.$untouched">Password invalid</span>
          </div>
          <div class="form-group">
            <button class="form-submit">Sign In</button>
          </div>

          <a href="#" class="forgot">Forgot Password</a>
        </form>
      </div>

      <div class="form signupForm">
        <form action="" name="form_signUp" ng-submit="onSubmitFormResgistration($event)">
          <h3>Sign Up</h3>
          <div class="form-group">
            <input name="name" ng-model="name" id="new-user-name" type="text" placeholder="Name" required>
            <span class="form-message text-danger" ng-hide="form_signUp.name.$valid || form_signUp.name.$untouched">Name invalid</span>
          </div>
          <div class="form-group">
            <input name="email2" id="new-user-email" ng-model="email2" type="email" placeholder="Email" required>
            <span class="form-message text-danger"  ng-hide="form_signUp.email2.$valid || form_signUp.email2.$untouched">Email invalid</span>
          </div>
          <div class="form-group">
            <input name="" id="new-user-birthday" type="date" placeholder="">
            <span class="form-message"></span>
          </div>
          <div class="form-group">
            <input name="pass2" id="new-user-password" ng-model="password" type="password" placeholder="Password" required>
            <span class="form-message text-danger" ng-hide="form_signUp.pass2.$valid || form_signUp.pass2.$untouched">Password invalid</span>
          </div>
          <div class="form-group">
            <input name="pass3" id="confirm-user-password"ng-model="passwordConfirm" type="password" placeholder="Confirm Password" required>
            <span class="form-message text-danger" ng-hide="form_signUp.pass3.$valid || form_signUp.pass3.$untouched">Confirm Password invalid</span>
          </div>
          <div class="form-group">
            <button class="form-submit">Register</button>
          </div>

        </form>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="Login.js"></script>
  <script>
    const signinBtn = document.querySelector('.signinBtn')
    const signupBtn = document.querySelector('.signupBtn')
    const formBx = document.querySelector('.formBx');
    const body = document.querySelector('body')

    signupBtn.onclick = function () {
      formBx.classList.add('active')
      body.classList.add('active')
    }
    signinBtn.onclick = function () {
      formBx.classList.remove('active')
      body.classList.remove('active')
    }
    
    
  </script>

</body>

</html>