<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Title</title>
</head>
<body ng-app = "cau5">
    <div class="container" ng-controller="caculatorIf">
        <form >
            <div class="form-group">
                <label>Họ và tên</label>
               <input ng-model="student.fullname" class="form-control" />
            </div>
            <div class="form-group">
                <label>Giới tính</label>
                <select ng-model="student.gender" class="form-control">
                   <option>Nam</option>
                    <option>Nữ</option>
                </select>
            </div>
            <div class="form-group">
                <label>Điểm</label>
               <input ng-model="student.mark" class="form-control" />
            </div>
            <div class="form-group">
                <label>Học lực </label>
                <div ng-bind="student.grade" class="form-control alert-info" >
            </div>
            <hr />
            <div class="form-group">
                <button class="btn btn-primary" ng-click="save()">Grade</button>
            </div>
         </form>
     </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <!-- Code -->
    <script>
        const app =angular.module("cau5",[]);
            app.controller("caculatorIf", function($scope){
            $scope.save= function(){
                var a = parseFloat($scope.student.mark);
                    if (a < 5) {
                        $scope.student.grade = "Rớt";
                    }
                    else {
                        $scope.student.grade="Đậu";;
                    }           
            }
        });
    </script>
</body>
</html>