<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title></title>
</head>
<body ng-app="cau5">
     <div class="container" ng-controller="caculatorIf">
        <form >
            <div class="form-group">
                <label>Họ và tên</label>
               <input ng-model="student.fullname" class="form-control" />
            </div>
            <div class="form-group">
                <label>Giới tính</label>
                <select ng-model="student.gender" class="form-control">
                   <option>Nam</option>
                    <option>Nữ</option>
                </select>
            </div>
            <div class="form-group">
                <label>Điểm</label>
               <input ng-model="student.mark" class="form-control" />
            </div>
            <div class="form-group">
                <label>Học lực </label>
                <div ng-bind="student.grade" class="form-control alert-info" >
            </div>
            <hr />
            <div class="form-group">
                <button class="btn btn-primary" ng-click="save()">Grade</button>
            </div>
         </form>
     </div>
    <!-- html -->



    <script src="js/angular.min.js"></script>

    <!-- Code -->
    <script>
        const app =angular.module("cau5",[]);
            app.controller("caculatorIf", function($scope){
            $scope.save= function(){
                var a = parseFloat($scope.student.mark);
                    if (a < 5) {
                        $scope.student.grade = "Rớt";
                    }
                    else {
                        $scope.student.grade="Đậu";;
                    }           
            }
        });
    </script>
</body>
</html>