<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Title</title>
</head>
<style>
    .form {
        margin-top: 100px;
    }
</style>

<body>
    <main class="mt-5 px-3 py-3">
        <form action="" ng-submit="onFormSubmit($event)" class="col-12 px-3">
            <div class="form-group mt-3">
                <label for="">Name</label>
                <input class="form-control" type="text" ng-model="account.name">
            </div>

            <div class="form-group mt-3">
                <label for="">Password</label>
                <input class="form-control" ng-model="account.password" type="password">
            </div>
            <div class="form-group mt-3">
                <label for="">Email</label>
                <input class="form-control" type="email" ng-model="account.email">
            </div>

            <div class="form-group mt-3">
                <button class="btn btn-primary" ng-click="insert()" ng-show="index == -1">Thêm</button>
                <button class="btn btn-primary" ng-click="save()" ng-hide="index == -1">Sửa</button>
                <button class="btn btn-primary" ng-click="cancel()">Hủy</button>
                <button class="btn btn-primary" ng-click="delete()" ng-hide="index == -1">Xóa</button>
                <button class="btn btn-primary" ng-click="clear()">Làm mới</button>
            </div>
        </form>
        <div class="row mt-5">
            <div class="col-md-12 mb-3">
                <div class="card">
                    <div class="card-header">
                        <span><i class="bi bi-table me-2"></i></span> Data Table
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example" class="table table-striped data-table" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>PassWord</th>
                                        <th>Email</th>
                                        <th colspan="2">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="ac in accounts">
                                        <td>{{ac.id}}</td>
                                        <td>{{ac.name}}</td>
                                        <td><input type="password" value="{{ac.password}}" readonly
                                                style="border: none;"></td>
                                        <td>{{ac.email}}</td>
                                        <td>
                                            <button class="btn btn-primary" ng-click="edit($index)">Sửa</button>
                                        </td>
                                        <td>
                                            <button class="btn btn-danger" ng-click="delete($index,ac.id)">Xóa</button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


</body>

</html>